<%- include('partials/header.ejs') -%>
        <form action="/emp/search" method="get" >
        <input type="text" name="q" placeholder="Search by name"  class="input" />
        <input type="submit" value="" />
        </form>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Designation</th>
          <th>Salary</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if(typeof results !== 'undefined') { %>
          <% results.forEach(emp => { %>
            <tr>
              <td><%= emp.name %></td>
              <td><%= emp.Designation %></td>
              <td><%= emp.Salary %></td>
              <td>
                <div class="action_btns">
                  <a href="/edit/<%= emp._id %>" class="btn btn-edit">Edit</a>
                  <form action="/delete/<%= emp._id %>?_method=DELETE" method="POST" >
                    <input type="hidden" name="_method" value="DELETE" />
                    <input type="submit" value="Delete" class="btn btn-delete" />
                  </form>

                </div>
              </td>
            </tr>
          <% }); %>
          <% if(results.length === 0) { %>
            <tr>
              <td colspan="4">No Employees data</td>
            </tr>
          <% } %>
        <% }  else {%>
           <tr>
              <td colspan="4">No Employees data</td>
            </tr>
          <%}%>
      </tbody>
    </table>

<%- include('partials/footer.ejs') -%>
