<%- include('partials/header.ejs') -%>
    <form action="/edit/<%= emp._id %>?_method=PUT" method="POST" class="form">
      <h2 class="heading">Edit Employee Details</h2>
      <div class="input_group">
        <label for="name" class="input_label">Employee Name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter Employee name"
          class="input"
          value="<%= emp.name %>"
        />
      </div>

      <div class="input_group">
        <label for="Designation" class="input_label"
          >Employee Designation</label
        >
        <input
          type="text"
          name="Designation"
          id="Designation"
          placeholder="Enter Employee Designation"
          class="input"
          value="<%= emp.Designation %>"
        />
      </div>

      <div class="input_group">
        <label for="Salary" class="input_label">Employee Salary</label>
        <input
          type="text"
          name="Salary"
          id="Salary"
          placeholder="Enter Employee Salary"
          class="input"
          value="<%= emp.Salary %>"
        />
      </div>

      <input
        type="submit"
        name="add_emp"
        class="form_submit"
        value="Save Details"
      />
    </form>
<%- include('partials/footer.ejs') -%>
